/* Base Styles */
:root{
    --main-color: white;
    --body-bg-color: #f5f5f5;
    --link-default-color: black;
    --page-header-bg-color: #155763;
    --nav-bg-color: #147181;
    --sidebar-bg-color: #88d0dc;
    --footer-bg-color: #155763;

}

body {
    font-family: Arial, sans-serif;
    background-color: var(--body-bg-color) ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout-wrapper {
    display: grid;
    grid-template-areas:
        "header header"
        "nav nav"
        "main aside"
        "footer footer";
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 5fr 1fr;
    min-height: 100vh;
}

ul {
    list-style: none;
}

li a {
    text-decoration: none;
    color: var(--link-default-color);
}

/* Header */
.page-header {
    grid-area: header;
    background-color: var(--page-header-bg-color);
    color: var(--main-color);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.page-header ul {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header a {
    color: var(--main-color);
}

.subheader li {
    display: none;
}

/* Nav */
nav {
    grid-area: nav;
    background-color: var(--nav-bg-color);
    color: var(--main-color);
}

nav ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    margin-bottom: 1rem;
}

.menu a {
    color: var(--main-color);
    padding: 0.5rem;
}

.submenu li {
    display: none;
}

/* Main Content */
main {
    grid-area: main;
    padding: 1rem;
}

/* Sidebar */
aside {
    background-color: var(--sidebar-bg-color);
    ;
}

aside ul {
    padding: 10px;
}

/* Footer */
footer {
    grid-area: footer;
    text-align: center;
    background-color: var(--footer-bg-color);
    color: var(--main-color);
}

footer ul {
    gap: 10px;
    display: flex;
    justify-content: center;
}

footer a {
    color: var(--main-color);
}


/* Desktop View */
@media (min-width: 1024px) {
    .page-header{
        position: relative;
    }
    .page-header ul{
        position: absolute;
        right: 0;
    }
}

/* Tablet View */
@media (min-width: 768px) and (max-width: 1023px) {
    .layout-wrapper {
        grid-template-columns: 1fr 1fr;
    }

}

/* Mobile View */
@media (max-width: 767px) {
    .layout-wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .page-header {
        flex-wrap: wrap;
    }

    nav ul {
        flex-direction: column;
        gap: 5px;
        ;
    }

}