/* Base Styles */
:root {
  --main-bg-color: #f8f9fc;
  --main-text-color: #fff;
  --link-default-color: black;
  --nav-bg-color: #2e59d9;
  --box-shadow-color: rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.layout-wrapper {
  display: grid;
  grid-template-areas: 
    "nav header"
    "nav main"
    "nav footer";
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

ul{
  list-style: none;
}

li a{
  text-decoration: none;
  color: var(--link-default-color);
}

.page-header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-bg-color);
  padding: 1rem 1rem;
  box-shadow: 5px 5px 10px var(--box-shadow-color); 
  z-index: 1000;
}

.page-header ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.page-header h1, .page-header .subheader, aside {
  display: none;
}

nav {
  grid-area: nav;
  background-color: var(--nav-bg-color);
  color: var(--main-text-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

nav ul {
  padding: 0;
}

nav li{
  margin-bottom: 1rem;
}

nav li a{
  color: var(--main-text-color);
}


main {
  grid-area: main;
  padding: 1rem;
}


main section {
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: var(--main-bg-color);
  padding: 1rem;
  text-align: center;
}

footer li{
  display: none;
}


/* Desktop View */
@media (min-width: 1024px) {
  .layout-wrapper {
    grid-template-areas: 
    "nav header"
    "nav main"
    "nav footer";
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto 1fr auto;
  }
}

/* Tablet View */
@media (min-width: 768px) and (max-width: 1023px) {
  .layout-wrapper {
    grid-template-areas: 
      "nav header"
      "nav main"
      "nav footer";
      grid-template-columns: 1.25fr 4fr;
      grid-template-rows: auto 1fr auto;
  }

  .page-header {
    flex-wrap: wrap;
  }
}

/* Mobile View */
@media (max-width: 767px) {
  .layout-wrapper {
    grid-template-areas: 
      "nav header"
      "nav main"
      "nav footer";
      grid-template-columns: auto 5fr;
      grid-template-rows: auto 1fr auto;
  }

  .page-header {
    flex-wrap: wrap;
  }
}
